body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #de1f1f;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    line-height: 1.6;
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1f);
    grid-template-rows: 50px 1fr 50px;
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas: 
    ". . . h h h h h h h h h"
    "m m m c c c c c c c c c"
    "s s s st st st ct ct ct ct ct ct"
    "f f f f f f f f f f f f"
    
    
    ;
}

.header {
    background-color: #ff6b6b;
    grid-area: h;
}

.menu {
    background-color: #6bff6b;
grid-area: m;
grid-row: 1/3;
}

.content {
    background-color: #6b6bff;
    grid-area: c;
}

.sidebar {
    background-color: #6b6bff;
    grid-area: s;
}

.subcontent {
    background-color: #6b6bff;
    grid-area: st;
}
.contact {
    background-color: #6b6bff;
    grid-area: ct;
}


.footer {
    background-color: #ffa06b;
    grid-area: f;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}